@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    font-family: 'Kanit', sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
}

.content-all{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.content-single{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 100px;
    font-size: larger;
}



.container a{
    text-decoration: none;
}